.image-gallery-image img {
 height: 100vh;
 zindex: 1000;
}    
.btnGithub {
   font-size: 12px;
 }
 .btnFull {
  display: block;
  width: 100%;
  border: none;
  background-color: #3E4447;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
